[submodule "contrib/s2client-api"]
	path = contrib/s2client-api
	url = https://github.com/Blizzard/s2client-api
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest
